<footer class="footer">
    <!-- Start Middle Top -->
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="f-about single-footer">
                        <div class="logo">
                            <a href="index.html"><img src="assets/images/logo/logo-black.png" alt="Logo"></a>
                        </div>
                        <p>Start building your creative website with our awesome template Massive. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam, eaque iure repudiandae sint dignissimos ducimus ipsam quod perferendis cum! Quos provident deleniti dolorem repellat reprehenderit id, quasi voluptates velit laborum.</p>
                        <div class="footer-social">
                            <ul>
                                <li><a href="#"><i class="lni lni-facebook-original"></i></a></li>
                                <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
                                <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
                                <li><a href="#"><i class="lni lni-whatsapp"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single Widget -->
                </div>
                <div class="col-lg-4 col-12">
                    <div class="single-footer f-link">
                        <ul>
                            <li><a href="resume.html">Accueil</a></li>
                            <li><a href="#">A propos</a></li>
                            <li><a href="#">Qui sommes-nous ?</a></li>
                            <li><a href="#">B-A BA du fact-check</a></li>
                            <li><a href="#">Corrections</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ End Footer Middle -->
    <!-- Start Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">
            <div class="inner">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="left">
                            <p>Designed and Developed by<a href="https://graygrids.com/" rel="nofollow" target="_blank">GrayGrids</a></p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="right">
                            <ul>
                                <li><a href="#">Terms of use</a></li>
                                <li><a href="#"> Privacy Policy</a></li>
                                <li><a href="#">Faq</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Middle -->
</footer>